/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/

nav {
  float: left;
  width: 100%;
  margin: 1% 0;
}

/* nav > * {
  margin: 1% 0;
} */

nav ul {
  float: left;
  width: 50%;
  padding: 1% 5%;
  margin: 0 15%;
}

nav h2, nav > a {
  float: left;
  /* width: 25%; */
}

nav h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 2%;
  color: rgb(42, 64, 84);
}

nav ul a {
  float: left;
  width: 25%;
  color: rgb(77, 99, 117);
}

nav > a {
  padding: 1% 2%;
  background: rgb(48, 70, 89);
  color: white;
}

a {
  text-decoration: none;
}

/* nav ul {
  float: left;
  width: 25%;
} */


header + main {
  float: left;
  width: 100%;
}

header + main section {
  float: left;
  width: 50%;
}

main + section {
  float: left;
  width: 100%;
}

main + section section {
  float: left;
  width: 25%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* main */

main > section:first-child {
  padding: 7% 11%;
}

main > section h1 {
  font-size: 3rem;
  color: rgb(41, 63, 83);
  font-weight: 700;
}

main > section span {
  display: block;
  padding-bottom: 5%;
}


form, input {
  display: block;
}

input {
  float: left;
  border: none;
  padding: 2% 4%;
}

form > input {
  width: 80%;
  background: rgb(225, 233, 240);
  color: rgb(77, 99, 117);
  margin: 7% 0 4% 0;
}

form > input + input {
  width: 20%;
  background: rgb(48, 70, 89);
  color: white;
}

main > section > p {
  padding-right: 25%;
  line-height: 22px;
}

body > section {
  background: rgb(245, 249, 252);
}

/* Features  */

main + section {
  padding: 5%;
}

h3 {
  font-weight: 700;
  color: rgb(53, 75, 93);
}

p {
  color: rgb(68, 88, 107);
}

main + section section > * {
  padding: 2% 0;
}

main + section a {
  display: block;
  padding: 5% 0;
  color: rgb(48, 70, 89);
  font-weight: 600;
}

main + section section {
  padding: 0 2%;
}

body > section + section h1 {
  font-size: 3rem;
  font-weight: 600;
  color: rgb(48, 70, 89);
  /* padding-right: 60%; */
}

/* second section  */

body > section + section {
  background: white;
  padding: 4% 55% 4% 7%;
}

body > section + section p {
  padding-top: 5%;
  color: rgb(140, 160, 178);
  line-height: 22px;
}

/* MEDIA QUERIES  */

@media screen and (max-width: 1030px) {
  nav ul, nav a {
    display: none;
  }
  nav h2 {
    width: 100%;
    text-align: center;
  }
  * {
    width: 100%;
  }
}